//colors
$white: #fff;
$dark: #28292d;
$gold: #c8a774;
$paper: #e7e3d9;
//$var darken($color: $dark, $amount: 15); - цвет темнее на %

//resolutions
$tablets: 768px;
$phones: 480px;

//config
@import 'config/_mixins';
@import 'config/_base';
@import 'config/_fonts';
@import 'config/_normalize';

//common
@import 'common/_button';
@import 'common/_modal';
@import 'common/_font-styles';

//layout

@import 'layout/_container';
@import 'layout/_section';
@import 'layout/_start';
@import 'layout/_header';
@import 'layout/_content';
@import 'layout/_logo';
@import 'layout/_socials';

//widgets
@import 'widgets/_owl.scss';
//widgets
@import 'misc/_svgstyles.scss';