//перевод пикселей в rem
@function rem($px) {
    @return $px / 16px+0rem;
}

//адаптив
@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}
//bg and hover
@mixin bg($bg) {
    background-image: url('../img/' + $bg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($dark, .95);
    }
}

//goldline 
@mixin goldline {
    position: absolute;
    content: '';
    display: block;
    height: 80%;
    border-left: 1px solid $gold;
}

//шрифты

@mixin OpenSans ($style: normal) {
    font-family: 'Open Sans', Helvetica, sans-serif;
    @if $style == light {
        font-weight: 300;
    }
    @if $style == medium {
        font-weight: normal;
    }
    @if $style == bold {
        font-weight: 700;
    }
}
@mixin Merriweather ($style: normal) {
    font-family: 'Merriweather', Times, serif;
    @if $style == light {
        font-weight: 300;
    }
    @if $style == medium {
        font-weight: normal;
    }
    @if $style == bold {
        font-weight: 700;
    }
}
