.section {
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    position: relative;
    overflow: hidden;
    
    &_centered {
        justify-content: center;
        align-items: center;
    }
}