.start {
    background-image: url('../img/start__bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($dark, .95);
    }
}

.start__content {
    flex: 1;
    // outline: 1px solid $gold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    @include tablets {
        justify-content: space-around;
    }
}
.start__container {

}